*.aps
*.aux
*.bak
*.cache
*.dll
#Ignore files built by Visual Studio.
*.docstates
*.exe
*.exp
*.fls
*.fdb_latexmk
*.glg
*.glo
*.gls
*.gz
*.ist
*.ilk
*.js.map
*.lib
*.log
*.ncb
*.obj
*.oca
*.orig
*.out
*.pch
*.pdb
*.ReSharper
*.sbr
*.suo
*.tlb
*.tlh
*.toc
*.user
*.vbw
*.vspscc
*_i.c
*_p.c
[Bb]in
[Dd]ebug/
[Nn]owibu/
[Pp]ublish/
[Rr]elease*/
[Ss]tub/
[Tt]est[Rr]esult*/
_ReSharper*/
_sgbak/
documentation/*.pdf
documentation/sensors/**/*.pdf
obj/
#Ignore thumbnails created by Windows.
Thumbs.db
x86/
*.ide

packages/**/*.*

src/.vs/**/*.*
